.item1,
.item2,
.item3 {

    width: 300px;
}
.para-item1{
    background-color: red;
    z-index: 10;
    position: relative;
}
.item2 {
    position: absolute;
    color: red;
    top: 60px;
    right: 0;
    background-color: black;
    z-index: 100;

}


.btn{
    background-color: brown;
    padding: 6px;
    border:none;
    color: white;
    font-size:14px;
}

.btn--rounded{
    border-radius: 12px;
}

.btn--success{
    background-color: green;
}
