.item{
    /* width: 1000px; */
    max-width: 62.5rem;
}
/* px  rem | em */
/* rem: default font size of browser  */
/* 1rem : default font size of brower  */
/* 1rem = 16px  */

@media (max-width:1000px) {
    html{
        font-size: 8px;
    }
    body{
        background-color: red;
    }
}


#text1{
    color: red;
}
.text{
    color: blue;
}
